<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <form [formGroup]="formdata" (ngSubmit)="dodajKontakt(formdata.value)">
                <label for="imeIprezime">Ime i prezime</label>
                <input formControlName="imeIprezime"  id="imeIprezime" class="form-control" placeholder="Ime i prezime" [(ngModel)]="imeIprezime" name="imeIprezime"><br>
                <label for="telefon">Broj telefona</label>
                <input formControlName="telefon" id="telefon" class="form-control" placeholder="Broj telefona" [(ngModel)]="telefon" name="telefon"><br>
                <button [disabled]="!formdata.valid" type="submit" class="btn btn-primary btn-block">Dodaj</button><br>
            </form>
        </div>
        <div class="col-lg-6">

            <table class="table">
                <thead>
                    <tr>
                        <td>Ime i prezime</td>
                        <td>Telefon</td>
                        <td>Izmena</td>
                        <td>Brisanje</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of kontakti">
                        <td>{{i.imeiprezime}}</td>
                        <td>{{i.telefon}}</td>
                        <td><p (click)="prikaziKontakt(i.id);" class="btn btn-info btn-sm" data-toggle="modal" data-target="#kontaktModal" type="button">Izmeni</p></td>
                        <td><p (click)="obrisiKontakt(i.id)" class="btn btn-danger btn-sm">Obrisi</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="kontaktModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
             
            <form  (ngSubmit)="izmeniKontakt(idKontakta, kontaktImeIprezime, kontaktTelefon)"> 
                <label for="imeIprezimeI">Ime i prezime:</label>
                <input value="{{kontaktImeIprezime}}" name="imeIprezimeI" [(ngModel)]="kontaktImeIprezime" type="text" id="imeIprezimeI" class="form-control">

                <label for="telefonI">Telefon:</label>
                <input value="{{kontaktTelefon}}" name="telefonI" [(ngModel)]="kontaktTelefon" type="text"  id="telefonI" class="form-control">

                <label for="vremeUpisa">Vreme upisa:</label>
                <input name="vremeUpisa" type="text" value="{{vremeUpisa}}" id="vremeUpisa" class="form-control" disabled><br>
                
                <button type="submit" class="btn btn-primary btn-block" id="izmenaDugmeta">Izmeni</button>
            </form>          
        </div>
      </div>
    </div>
  </div>