<div class="blockRegistracija well">
    <h1 class="text-center">Login</h1>
    <form [formGroup]="formdata" (ngSubmit)="obradaForme(formdata.value)">

        <label for="korisnickoIme">Korisnicko ime:</label><br>
        <input formControlName="korisnickoIme" name="korisnickoIme" type="text" placeholder="Korisnicko ime"
            id="korisnickoIme" class="form-control"><br>

        <label for="email">E-mail:</label><br>
        <input formControlName="email" name="email" type="email" placeholder="E-mail" id="email" class="form-control"><br>

        <label for="sifra">Sifra:</label><br>
        <input formControlName="sifra" type="password" name="sifra" placeholder="Sifra" id="sifra" class="form-control"><br>

        <button [disabled]="!formdata.valid" class="btn btn-primary btn-block" type="submit">Prijavi se</button>
    </form>
    <p class="login">Ukoliko niste registrovani <a routerLink="/registracija">registrujte se</a></p>
</div>